.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  align-items: center;
}

.controls {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 100%;
}

.controls fieldset {
  flex-shrink: 0;
}

.controls input[type='number'] {
  width: 50px;
}

.field {
  padding-top: 10px;
  min-width: calc(100vh - 160px);
  aspect-ratio: 1 / 1;
  display: grid;
  align-content: center;
  justify-content: center;
}

.field__cell {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid gray;
}

.field__cell_alive {
  background-color: gray;
}

.easter-label {
  position: absolute;
  right: 0;
  top: 70px;
}
