.control {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 100%;
}

.control fieldset {
  flex-shrink: 0;
}

.control input {
  width: 50px;
}

.field {
  max-width: calc(100vh - 160px);
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  justify-content: center;
}

.field__cell {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid gray;
}

.field__cell_alive {
  background-color: gray;
}